---
import Layout from '../layouts/Layout.astro';
import SongCard from '../components/SongCard.astro';
import AboutLink from '../components/AboutLink.astro';
import Searchbar from '../components/Searchbar.astro';
import { getSongData } from '../utils/getSongData';

let title = 'No title';
let artist = 'No artist';
let cover = '/nocover.png';
let input = '';
let error = '';

const url = Astro.url.searchParams.get('url');
if (url) {
    input = url;
    try {
        const result = await getSongData(url);
        title = result.title;
        artist = result.artist;
        cover = result.cover;
    } catch (err) {
        if (!(err instanceof Error)) {
            return;
        }
        error = err.message;
    }
}
---

<Layout title="Welcome to Astro.">
    <main>
        <Searchbar defaultInput={input} error={error} />
        <SongCard cover={cover} title={title} artist={artist} />
    </main>
    <AboutLink />
</Layout>

<script>
    const textbox = document.querySelector('[data-search-textbox]');
    document.querySelector('[data-search-form]');
</script>

<style>
    main {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        width: 100%;
        max-width: min(100vw, 50rem);
        height: 100%;
        gap: 1rem;
    }
</style>
